body {
    display: flex;
    gap: 1rem;
}

button {
    background: green;
    border: none;
    border-radius: 0.2rem;
    width: 5rem;
    color: #fff;
    padding: 0.3rem;
    cursor: pointer;
}

input {
    border-radius: 0.3rem;
    border: none;
    background: gainsboro;
}

input:focus {
    outline: none;
    border-color: green
}